@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
:root {
  --primary-color: rgb(58, 58, 58);
  --secondary-color: rgb(224, 44, 109);
  --white-color: rgb(255, 255, 255);
}

/* Common Styles */
.d-flex {
  display: flex;
}
.btn {
  color: var(--white-color);
  background-color: var(--secondary-color);
  gap: 8;
  padding: 10px 24px 10px 24px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

/* Header Styles */
header {
  padding: 40px 120px;
}
/* Navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  cursor: pointer;
}
.nav-links {
  list-style: none;
}
.nav-item {
  margin-right: 34px;
}
.nav-link {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

/* Banner Styles */
.banner {
  align-items: center;
  justify-content: space-between;
  gap: 133px;
  margin: 50px 0;
}
.banner-text-container {
  width: 582px;
}
.banner-title {
  color: var(--primary-color);
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-desc {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin: 16px 0;
}

#banner-btn {
  border-radius: 41px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-img-container img{
  width: 100%;
}



/* Main Styles */
main{
  padding: 0 195px;
}
/* Brand Styles */
.brand {
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 35px 0;
}

/* Collection Styles */
.collection {
  margin: 100px 0;
}
.collection-title {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 70px;
}
.collection-card{
  margin-top: 34px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.card-img img {
  border-radius: 5px;
  width: 100%;
}
.card-text-container{
  max-width: 210px;
}
.card-title {
  color: rgb(24, 25, 31);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 40px;
  margin-top: 10px;
}
.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
}
.card-rating {
  gap: 10px;
  align-items: center;
}
.card-rating .stars {
  font-size: 0.9rem;
  color: rgb(251, 130, 0);
}
.card-rating .star-mark {
  color: rgb(94, 99, 102);
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0.1px;
}
.card-desc {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  margin-top: 5px;
}
.see-btn{
  text-align: right;
}
.see-btn .btn{
  background-color: transparent;
  color:  var(--secondary-color);
  text-decoration: none;
}
/* Featured Styles */
.featured{
  gap: 96px;
  align-items: center;
  margin: 100px 0;
}
.featured-title{
  color: rgb(10, 8, 38);
  font-size: 2.34rem;
  font-weight: 700;
  line-height: 60px;
}
.featured-desc{
  color: rgb(108, 108, 108);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  margin: 16px 0;
}
.featured-img img{
  width: 100%;
}

/* Footer Styles */
footer{
  background: #000957;
  padding: 60px 0;
  text-align: center;
}
footer h3{
  color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 700;
line-height: 36px;
}
footer h4, footer h5{
  color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 0.9rem;
font-weight: 700;
line-height: 24px;
margin: 5px 0;
}
.social-icons{
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: 25px;
}
.social-icons a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 600;
}


/* For Mobile Device Responsive */
@media only screen and (max-width: 576px) {
  header,main{
    padding: 15px 0;
  }
  .navbar, .banner, .brand, .featured{
    flex-direction: column;
    gap: 16px;
  }
  .navbar h3,  .banner, .featured{
    text-align: center;
  }
  .nav-links{
    display: none;
  }
  .banner-text-container {
    width: 100%;
  }
  .banner-title, .featured-title{
    font-size: 2.3rem;
    line-height: 50px;
  }
  #banner-btn{
    display: inline-block;
  }

  /* Main */
  
  .collection{
    margin: 0;
  }
  .collection-card{
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .featured{
    margin: 20px 0;
  }
  footer{
    padding: 20px 0;
  }
}

/* For small Screen Tablet Device Responsive */

@media only screen and (min-width: 576.1px) and (max-width: 768px) {
  header,main{
    padding: 15px 0;
  }
  .navbar, .banner,  .featured{
    flex-direction: column;
    gap: 16px;
  }
  .brand{
    flex-wrap: wrap;
  }
  .navbar h3,  .banner, .featured{
    text-align: center;
  }
 
  .banner-text-container {
    width: 100%;
  }
  .banner-title, .featured-title{
    font-size: 2.3rem;
    line-height: 50px;
  }
  #banner-btn{
    display: inline-block;
  }
   /* Main */
  
   .collection{
    margin: 0;
  }
  .collection-card{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
/* For Big Screen Tablet Device Responsive */
@media only screen and (min-width: 768.1px) and (max-width: 992px){
  header,main{
    padding: 15px 0;
  }
  .navbar{
    flex-direction: column;
    gap: 16px;
  }
  .brand{
    flex-wrap: wrap;
  }
  .navbar h3,  .banner, .featured{
    
  }
  .banner-text-container {
    width: 100%;
  }
  .banner-title, .featured-title{
    font-size: 2.3rem;
    line-height: 50px;
  }
  #banner-btn{
    display: inline-block;
  }
  /* Main */
  .featured-img{
    width: 50%;
  }
  .featured-img img{
    width: 100%;
  }
   .collection{
    margin: 0;
  }
  .collection-card{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}